* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none !important;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
    padding: 0;
    margin: 0;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

@import "reset_style.scss";
@import "base/func";
@import "fonts/font";


@import "../css/bootstrap.min.css";
//@import "libs/slick-theme.scss";
@import "libs/slick.scss";

@import "components/main/header";
@import "components/main/hero";
@import "components/main/info";
@import "components/main/services";
@import "components/main/form";
@import "components/main/questions";
@import "components/main/reviews";
@import "components/main/about";
@import "components/main/partners";
@import "components/main/works";
@import "components/main/footer";
@import "components/servis/hero";
@import "components/servis/facilities";
@import "components/servis/questions";
@import "components/servis/previous-works";
@import "components/one-service/header";
@import "components/one-service/hero";
@import "components/one-service/monitoring";
@import "components/one-service/form";
@import "components/one-service/product";
@import "components/one-service/work-stages";
@import "components/previous-works/hero";
@import "components/previous-works/previous-projects";
@import "components/previous-works/advantages";
@import "components/info-page/about-project";
@import "components/info-page/rezult";
@import "components/info-page/gallery";
@import "components/contact/hero";
@import "components/contact/form";


.tabs {
    overflow: hidden;
  }
  
  .tab-button {
    background-color: #f1f1f1;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
  }
  
  .tab-button:hover {
    background-color: #ddd;
  }
  
  .tab-content {
    display: none;
  }