* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none !important;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
    padding: 0;
    margin: 0;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

@import "reset_style.scss";
@import "base/func";
@import "fonts/font";


@import "../css/bootstrap.min.css";
//@import "libs/slick-theme.scss";
@import "libs/slick.scss";

@import "components/header";
@import "components/hero";
@import "components/info";
@import "components/footer";


