<section class="one-service-form">
    <div class="container">
        <div class="row">
            <div class="col-12" id="one-service-form__position">
                <div class="col-md-12 col-lg-6">
                    <div class="one-service-form__img">
                        <img src="img/one-service/form/form-img.png" alt="form-img">
                        <div class="one-service-form__img_info">
                            <h3>300+</h3>
                            <p>підключених камер відеоспостереження</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="one-service-form__block">
                        <div class="one-service-form__block_info">
                            <h3>Команда R2R забезпечить надійність Вашого будинку</h3>
                            <p>Lorem Ipsum is simply dummy text</p>
                            <h4>Стань наступним клієнтом! Залишай заявку і ми зв’яжемося з тобою найближчим часом</h4>
                            <form>
                                <span class="d-flex">
                                    <input type="text" id="name" name="name" placeholder="Ім'я"><br><br>
                                    <input type="tel" id="phone" name="phone" placeholder="Телефон"><br><br>
                                </span>
                                <input type="request" id="request" name="request"
                                    placeholder="Опишіть Ваш запит"><br><br>
                                <input type="submit" value="ВІДПРАВИТИ ЗАЯВКУ">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>