<header class="one-service-header">
    <div class="container">
        <nav>
            <ul>
                <li><a href="#"><img src="img/one-service/header/location.png" alt="location">
                        вул. Дрогобицька 7, ТЦ Олімп</a></li>
                <li><a href="#"><img src="img/one-service/header/time.png" alt="location">
                        Пн-Пт 10:00-19:00, Сб 10:00-17:00</a></li>
                <li><a href="tel: +38(068)- 999 -99 -99"><img src="img/one-service/header/tel.png" alt="location">
                        +38(068)- 999 -99 -99</a></li>
            </ul>
        </nav>
    </div>
</header>