<section class="one-service-hero">
    <div class="one-service-hero__background">
        <img src="img/previous-works/hero/hero.png" alt="hero-image">
        <div class="one-service-hero_info">
            <h4>Наші</h4>
            <h2>ПОСЛУГИ</h2>
            <div class="one-service-hero_info-line"></div>
            <p>Lorem Ipsum is simply dummy text of the printing. Lorem psum is simply</p>
        </div>
        <div class="one-service-hero__last">
            <img id="one-service-hero__last_img" src="img/previous-works/hero/hero-last.png" alt="hero-last">
        </div>
    </div>
</section>