<section class="monitoring">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="monitoring__info">
                    <h2>МОНТАЖ КАМЕР І СИСТЕМ ВІДЕОСПОСТЕРЕЖЕННЯ</h2>
                    <div class="monitoring__info_line"></div>
                    <p>Надаємо повний спектр послуг інсталяції камер спостереження</p>
                </div>
            </div>

            <div class="monitoring__card-container">
                <div class="monitoring__card"><span>
                        <div class="monitoring__card_img"
                            style="background-image: url('../img/one-service/monitoring/cam.png')"></div>
                        <div class="monitoring__card_title">Оплата за фактом виконаної роботи</div>
                    </span>
                    <div class="monitoring__card_description">Lorem Ipsum is simply dummy text of the printing.
                        Lorem Ipsum is simply dummy text of the printing.</div>
                </div>
                <div class="monitoring__card"><span>
                        <div class="monitoring__card_img"
                            style="background-image: url('../img/one-service/monitoring/cam.png')"></div>
                        <div class="monitoring__card_title">Оплата за фактом виконаної роботи</div>
                    </span>
                    <div class="monitoring__card_description">Lorem Ipsum is simply dummy text of the printing.
                        Lorem Ipsum is simply dummy text of the printing.</div>
                </div>
                <div class="monitoring__card"><span>
                        <div class="monitoring__card_img"
                            style="background-image: url('../img/one-service/monitoring/cam.png')"></div>
                        <div class="monitoring__card_title">Оплата за фактом виконаної роботи</div>
                    </span>
                    <div class="monitoring__card_description">Lorem Ipsum is simply dummy text of the printing.
                        Lorem Ipsum is simply dummy text of the printing.</div>
                </div>
                <div class="monitoring__card"><span>
                        <div class="monitoring__card_img"
                            style="background-image: url('../img/one-service/monitoring/cam.png')"></div>
                        <div class="monitoring__card_title">Оплата за фактом виконаної роботи</div>
                    </span>
                    <div class="monitoring__card_description">Lorem Ipsum is simply dummy text of the printing.
                        Lorem Ipsum is simply dummy text of the printing.</div>
                </div>
                <div class="monitoring__card"><span>
                        <div class="monitoring__card_img"
                            style="background-image: url('../img/one-service/monitoring/cam.png')"></div>
                        <div class="monitoring__card_title">Оплата за фактом виконаної роботи</div>
                    </span>
                    <div class="monitoring__card_description">Lorem Ipsum is simply dummy text of the printing.
                        Lorem Ipsum is simply dummy text of the printing.</div>
                </div>
                <div class="monitoring__card"><span>
                        <div class="monitoring__card_img"
                            style="background-image: url('../img/one-service/monitoring/cam.png')"></div>
                        <div class="monitoring__card_title">Оплата за фактом виконаної роботи</div>
                    </span>
                    <div class="monitoring__card_description">Lorem Ipsum is simply dummy text of the printing.
                        Lorem Ipsum is simply dummy text of the printing.</div>
                </div>
            </div>
        </div>
    </div>
</section>