<section class="one-service-product">
    <div class="container">
        <div class="row">
            <div class="col-12" id="one-service-product__position">
                <div class="col-xl-3">
                    <div class="one-service-product__block">
                        <div class="one-service-product__block_name">
                            <p>Назва послуги</p>
                        </div>
                        <div class="one-service-product__block_info">
                            <p class="one-service-product__block_info-price">від 2 500 грн</p>
                            <p class="one-service-product__block_info-desc">з монтажем - від 3000 грн</p>
                            <img src="img/one-service/product/product.png" alt="product">
                            <h5>Характеристика</h5>
                            <form>
                                <div class="radio-container">
                                    <label class="radio-label">
                                        <input type="radio" name="radio-group" class="radio-input" checked>
                                        <span class="radio-custom"></span>
                                        <span class="radio-label_text">Lorem Ipsum is simply dummy text. Lorem Ipsum is simply dummy text</span> 
                                    </label>

                                    <label class="radio-label">
                                        <input type="radio" name="radio-group" class="radio-input">
                                        <span class="radio-custom"></span>
                                        <span class="radio-label_text">Lorem Ipsum is simply dummy text. Lorem Ipsum is simply dummy text</span> 
                                    </label>
                                    <input type="submit" value="ЗАМОВИТИ">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="one-service-product__block">
                        <div class="one-service-product__block_name">
                            <p>Назва послуги</p>
                        </div>
                        <div class="one-service-product__block_info">
                            <p class="one-service-product__block_info-price">від 2 500 грн</p>
                            <p class="one-service-product__block_info-desc">з монтажем - від 3000 грн</p>
                            <img src="img/one-service/product/product.png" alt="product">
                            <h5>Характеристика</h5>
                            <form>
                                <div class="radio-container">
                                    <label class="radio-label">
                                        <input type="radio" name="radio-group" class="radio-input" checked>
                                        <span class="radio-custom"></span>
                                        <span class="radio-label_text">Lorem Ipsum is simply dummy text. Lorem Ipsum is simply dummy text</span> 
                                    </label>

                                    <label class="radio-label">
                                        <input type="radio" name="radio-group" class="radio-input">
                                        <span class="radio-custom"></span>
                                        <span class="radio-label_text">Lorem Ipsum is simply dummy text. Lorem Ipsum is simply dummy text</span> 
                                    </label>
                                    <input type="submit" value="ЗАМОВИТИ">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="one-service-product__block">
                        <div class="one-service-product__block_name">
                            <p>Назва послуги</p>
                        </div>
                        <div class="one-service-product__block_info">
                            <p class="one-service-product__block_info-price">від 2 500 грн</p>
                            <p class="one-service-product__block_info-desc">з монтажем - від 3000 грн</p>
                            <img src="img/one-service/product/product.png" alt="product">
                            <h5>Характеристика</h5>
                            <form>
                                <div class="radio-container">
                                    <label class="radio-label">
                                        <input type="radio" name="radio-group" class="radio-input" checked>
                                        <span class="radio-custom"></span>
                                        <span class="radio-label_text">Lorem Ipsum is simply dummy text. Lorem Ipsum is simply dummy text</span> 
                                    </label>

                                    <label class="radio-label">
                                        <input type="radio" name="radio-group" class="radio-input">
                                        <span class="radio-custom"></span>
                                        <span class="radio-label_text">Lorem Ipsum is simply dummy text. Lorem Ipsum is simply dummy text</span> 
                                    </label>
                                    <input type="submit" value="ЗАМОВИТИ">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="one-service-product__block">
                        <div class="one-service-product__block_name">
                            <p>Назва послуги</p>
                        </div>
                        <div class="one-service-product__block_info">
                            <p class="one-service-product__block_info-price">від 2 500 грн</p>
                            <p class="one-service-product__block_info-desc">з монтажем - від 3000 грн</p>
                            <img src="img/one-service/product/product.png" alt="product">
                            <h5>Характеристика</h5>
                            <form>
                                <div class="radio-container">
                                    <label class="radio-label">
                                        <input type="radio" name="radio-group" class="radio-input" checked>
                                        <span class="radio-custom"></span>
                                        <span class="radio-label_text">Lorem Ipsum is simply dummy text. Lorem Ipsum is simply dummy text</span> 
                                    </label>

                                    <label class="radio-label">
                                        <input type="radio" name="radio-group" class="radio-input">
                                        <span class="radio-custom"></span>
                                        <span class="radio-label_text">Lorem Ipsum is simply dummy text. Lorem Ipsum is simply dummy text</span> 
                                    </label>
                                    <input type="submit" value="ЗАМОВИТИ">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>