<section class="work-stages">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="work-stages__title">
                    <h2>ЕТАПИ РОБОТИ</h2>
                    <div class="work-stages__title_line"></div>
                </div>
            </div>
            <div id="work-stages__position">
                <div class="col-md-6 col-xl-4">
                    <div class="work-stages__info">
                        <div class="work-stages__info_title">
                            <h3>01</h3>
                        </div>
                        <div class="work-stages__info_line"></div>
                        <p>Lorem Ipsum is simply dummy text</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="work-stages__info">
                        <div class="work-stages__info_title">
                            <h3>02</h3>
                        </div>
                        <div class="work-stages__info_line"></div>
                        <p>Lorem Ipsum is simply dummy text</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="work-stages__info">
                        <div class="work-stages__info_title">
                            <h3>03</h3>
                        </div>
                        <div class="work-stages__info_line"></div>
                        <p>Lorem Ipsum is simply dummy text</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="work-stages__info">
                        <div class="work-stages__info_title">
                            <h3>04</h3>
                        </div>
                        <div class="work-stages__info_line"></div>
                        <p>Lorem Ipsum is simply dummy text</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="work-stages__info">
                        <div class="work-stages__info_title">
                            <h3>05</h3>
                        </div>
                        <div class="work-stages__info_line"></div>
                        <p>Lorem Ipsum is simply dummy text</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="work-stages__info">
                        <div class="work-stages__info_title">
                            <h3>06</h3>
                        </div>
                        <div class="work-stages__info_line"></div>
                        <p>Lorem Ipsum is simply dummy text</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>