.about-us-form {
    background-color: #FAFAFB;
    padding: 20px 0px 0px;

    #about-us-form__position {
        display: flex;
        margin-top: 40px;
    }

    &__title {

        h2 {
            font-family: Inter;
            font-weight: 400;
            font-size: 24px;
            color: #000000;
        }

        &_line {
            background-color: #F5CA61;
            height: 4px;
            width: 120px;
            margin-top: 10px;
        }
    }

    &__subtitle {
        font-family: Inter;
        font-weight: 400;
        font-size: 20px;
        margin-top: 15px;
        line-height: 24px;
        padding-right: 140px;
    }

    form {
        width: 100%;
    }

    input[type="name"],
    input[type="tel"],
    input[type="text"] {
        background-color: #F2F3F6;
        border-radius: 5px;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
        margin-top: 10px;
    }

    input[type="name"] {
        padding-right: 10px;
    }

    input[type="tel"] {
        margin-left: 20px;
    }

    input[type="name"],
    input[type="tel"] {
        height: 57px;
        width: 100%;
    }

    input[type="text"] {
        height: 186px;
        width: 100%;
    }

    &__label {
        margin-left: 20px;
    }

    label {
        font-family: Inter;
        font-weight: 500;
        font-size: 20px;
        display: block;
        margin-top: 10px;
    }

    #form__position {
        margin-bottom: 30px;
        display: flex;
        width: 100%;
    }

    #form__position_last {
        width: 100%;
        margin-right: 20px;
        margin-top: 30px;
    }


    &__button {
        background-color: #FFB500;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        font-family: Inter;
        font-weight: 400;
        font-size: 18px;
        margin-top: 30px;
    }

    &__info {
        margin-left: 240px;

        &_position {
            display: flex;
            margin-bottom: 50px;
        }


        h4 {
            font-family: Inter;
            font-weight: 500;
            font-size: 20px;
            margin-bottom: 10px;
        }

        img {
            margin-right: 10px;
        }

        &_img {
            margin-bottom: 40px;
        }

        p {
            font-family: Montserrat;
            font-weight: 400;
            font-size: 16px;
            margin-top: 5px;
        }
    }

    &__img {
        margin-top: 40px;
        width: 100%;

        img {
            width: 100%;
            height: auto;
        }
    }

    @media screen and(max-width:1400px) {
        &__info {
            margin-left: 170px;
        }

        &__subtitle {
            padding-right: 30px;
        }
    }

    @media screen and(max-width:1200px) {
        &__info {
            margin-left: 90px;
        }

        &__subtitle {
            padding-right: 0px;
        }
    }

    @media screen and(max-width:992px) {
        &__info {
            margin-left: 50px;

            h4 {
                font-size: 18px;
            }

            p {
                font-size: 12px;
            }
        }
    }

    @media screen and(max-width:768px) {
        #about-us-form__position {
            display: block;
            margin-top: 30px;
        }

        &__title {
            h2 {
                font-size: 22px;
            }
        }

        &__subtitle {
            font-size: 17px;
        }

        label {
            font-size: 18px;
        }

        input[type="text"] {
            height: 100px;
        }

        input[type="name"],
        input[type="tel"] {
            height: 47px;
        }

        &__info {
            margin: 30px 0px 0px 0px;

            &_position {
                margin-bottom: 25px;
            }
        }

        &__img {
            margin-top: 10px;
        }
    }

    @media screen and(max-width:576px) {
        #about-us-form__position {
            margin-top: 0px;
        }

        &__title {
            h2 {
                font-size: 20px;
            }
        }

        &__subtitle {
            font-size: 15px;
        }

        label {
            font-size: 16px;
        }

        input[type="text"] {
            height: 80px;
        }

        input[type="name"],
        input[type="tel"] {
            height: 37px;
        }

        #form__position_last {
            margin-top: 15px;
        }

        &__button {
            font-size: 16px;
            margin-top: 15px;
        }

        &__img {
            margin-top: 0px;
        }
    }
}