.about-us-info {
    background-color: #FAFAFB;
    padding: 30px 0px 0px;

    #about-us-info__position {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__block {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        margin-left: 70px;

        &_img {
            width: 77px;
            height: auto;

            img {
                height: auto;
                width: auto;
            }
        }

        &_desc {
            margin-left: 40px;

            h4 {
                font-family: Inter;
                font-weight: 500;
                font-size: 18px;
                margin-bottom: 8px;
            }

            p {
                font-family: Inter;
                font-weight: 400;
                font-size: 16px;
                margin-right: 250px;
            }
        }
    }

    @media screen and(max-width:1400px) {
        &__block {
            margin-left: 40px;

            &_desc {
                margin-left: 30px;

                p {
                    margin-right: 180px;
                }
            }
        }
    }

    @media screen and(max-width:1200px) {
        &__block {
            margin-left: 0px;

            &_desc {
                margin-left: 30px;

                p {
                    margin-right: 150px;
                }
            }
        }
    }

    @media screen and(max-width:992px) {

        #about-us-info__position {
            display: block;
        }

        &__block {
            width: 100%;
            margin-bottom: 25px;
            justify-content: center;

            &_desc {
                p {
                    margin-right: 0;
                }
            }
        }
    }

    @media screen and(max-width:576px) {

        &__block {
            margin-bottom: 15px;

            &_img {
                width: 40px;
            }

            &_desc {
                margin-left: 15px;

                h4 {
                    font-size: 14px;
                    margin-bottom: 4px;
                }

                p {
                    font-size: 12px;
                }
            }
        }
    }
}