.about-us-slider {
    background-color: #FAFAFB;
    padding: 50px 0px 30px;

    &__title {

        margin-top: 25px;

        h2 {
            font-family: Rubik;
            font-weight: 400;
            font-size: 24px;
        }

        &_line {
            height: 4px;
            width: 120px;
            background-color: #F5CA61;
            margin-top: 10px;
        }
    }

    .swiper {
        width: 100%;
        padding: 120px 0px 30px;
    }

    .swiper-slide {
        position: relative;
        background-color: #E9EFFD80;
        width: 328px;
        height: 282px;
        transition: 0.5s all;
        margin-bottom: 20px;
        transition: transform 0.8s ease;

        img {
            width: 162px;
            height: 152px;
            position: absolute;
            top: -60px;
            left: 50%;
            transform: translate(-50%);
        }

        &__info {
            position: absolute;
            bottom: 0px;
            padding: 20px 30px;

            h3 {
                font-family: Inter;
                font-weight: 600;
                font-size: 20px;
                color: #000000;
                text-align: center;
                line-height: 24px;
            }

            h4 {
                font-family: Inter;
                font-weight: 400;
                font-size: 20px;
                color: #000000;
                text-align: center;
                line-height: 24px;
            }

            p {
                font-family: Inter;
                font-weight: 400;
                font-size: 16px;
                color: #000000;
                margin: 10px 0px;
            }

            #swiper-slide__info_img {
                display: flex;
                justify-content: center;
                margin-top: 20px;
            }
        }
    }

    .swiper-slide-active {
        background-color: #FFB500;
        transition: 0.5s all;
        width: 330px;
        height: 300px;
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
        transition: transform 0.8s ease;

        img {
            width: 220px;
            height: 210px;
            top: -110px;
        }

        h3,
        h4,
        p {
            color: #ffffff;
        }

        h3.h4 {
            font-size: 24px;
        }

        p {
            font-size: 18px;
        }
    }

    .swiper-pagination {
        margin-top: 50px;
    }

    .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
    }

    .swiper-pagination-bullet-active {
        background-color: #000000;
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: #000000;
    }


    /* Стилізація стрілок внизу слайдера */
    .swiper-button-next,
    .swiper-button-prev {
        width: 28px;
        height: 28px;
        background-color: #ffffff;
        border-radius: 50%;
        cursor: pointer;
        bottom: 0px;
        z-index: 10;
        transition: background-color 0.3s ease;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        content: "";
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 12px;
        width: 8px;
    }

    @media screen and(max-width:992px) {
        & {
            padding: 20px 0px;
        }
    }

    @media screen and(max-width:768px) {
        & {
            padding: 0px;
        }

        &__title {
            margin-bottom: 20px;

            h2 {
                font-size: 22px;
            }
        }
    }

    @media screen and(max-width:576px) {
        &__title {
            h2 {
                font-size: 20px;
            }

            &_line {
                margin-top: 8px;
            }
        }
    }

}