.about {
    background-color: #ffffff;
    padding: 5px 0px 15px;


    &__title {

        margin-top: 25px;

        h2 {
            font-family: Rubik;
            font-weight: 400;
            font-size: 24px;
        }

        &_line {
            height: 4px;
            width: 120px;
            background-color: #F5CA61;
            margin-top: 10px;
        }
    }

    #about__block {
        display: flex;
        width: 100%;
        position: relative;
    }

    &__info {
        width: 67%;
        z-index: 1;

        &_background {
            background-color: #FFB500;
            padding: 20px 70px 15px;
            text-align: center;
            margin-top: 40px;
            border-right: 10px solid rgb(255, 255, 255);
            border-top: 10px solid rgb(255, 255, 255);
            border-bottom: 10px solid rgb(255, 255, 255);

            h3 {
                font-family: Inter;
                font-weight: 600;
                font-size: 40px;
                margin-bottom: 20px;
            }

            p {
                font-family: Inter;
                font-weight: 400;
                font-size: 20px;
            }
        }

        #about__info-options_positions {
            display: flex;
            margin-right: 20px;
        }

        #options__img_size {
            display: flex;
            justify-content: center;
            width: 74px;
        }

        &-options {
            display: flex;
            align-items: center;
            margin: 40px 0px 50px;

            span {
                display: block;
                padding-left: 20px;
            }

            &_title {
                font-family: Inter;
                font-weight: 500;
                font-size: 18px;
                margin-bottom: 5px;
            }

            &_text {
                font-family: Inter;
                font-weight: 400;
                font-size: 16px;
            }
        }
    }

    &__img {
        position: absolute;
        right: 0;
        top: -45px;
        z-index: 0;

        img {
            width: 492px;
            height: 551px;
        }
    }

    @media screen and(max-width:1400px) {
        &__info {
            width: 75%;
        }

        &__img {
            width: 35%;

            img {
                height: 530px;
            }
        }
    }

    @media screen and(max-width:1200px) {

        &__block {
            display: block;
        }

        &__info {
            width: 100%;
            margin-top: 400px;

            &-options {
                justify-content: space-between;
            }
        }

        &__img {
            width: 100%;
            display: flex;
            justify-content: center;

            img {
                height: 460px;
            }
        }
    }

    @media screen and(max-width:992px) {

        &__info {
            width: 100%;
            top: 400px;

            &-options {
                justify-content: space-between;

                h5 {
                    font-size: 14px;
                }

                p {
                    font-size: 12px;
                }
            }

            &_background {
                padding: 20px 20px 15px;
                border-right: none;
            }
        }

        #about__info-options_positions {
            width: 50%;
        }

        #options__img_size {
            width: 54px;
            height: 54px;
        }

        &__img {
            width: 100%;
            justify-content: center;
            top: 30px;

            img {
                height: 460px;
            }
        }
    }

    @media screen and(max-width:768px) {
        &__line {
            margin-top: 12px;
        }

        &__title {
            h2 {
                font-size: 22px;
            }
        }

        &__info {

            &-options {
                flex-wrap: wrap;
                margin: 0;
            }

            &_background {
                padding: 20px 20px 15px;

                h3 {
                    font-size: 26px;
                }

                p {
                    font-size: 16px;
                }
            }
        }

        #about__info-options_positions {
            width: 100%;
            margin-right: 0;
            display: flex;
            justify-content: center;
            margin: 15px 0px;
        }
    }

    @media screen and(max-width:576px) {
        &__line {
            margin-top: 8px;
        }

        &__title {
            h2 {
                font-size: 20px;
            }
        }

        &__img {
            justify-content: center;
            top: 30px;
            padding: 0px 60px;

            img {
                height: 400px;
                width: 100%;
            }
        }

        &__info {

            &_background {
                padding: 20px 20px 15px;

                h3 {
                    font-size: 26px;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 14px;
                }
            }
        }
    }

    @media screen and(max-width:460px) {
        &__img {
            padding: 0px 14px;

            img {
                height: 350px;
            }
        }

        &__info {

            &_background {
                margin-top: 0px;
            }
        }
    }
}