.form {
    background-color: #FFFFFF;
    padding: 45px 0px;

    &__block {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 500px;
            height: 336px;
        }

        &_info {
            width: 60%;

            h4 {
                font-family: Inter;
                font-weight: 800;
                font-size: 24px;

                img {
                    margin-bottom: 15px;
                    margin-left: -10px;
                }
            }

            p {
                font-family: Inter;
                font-weight: 700;
                font-size: 20px;
                width: 400px;
                margin-top: 15px;
            }

            form {
                margin: 30px auto 0px;
                padding: 35px 0px 0px;
            }

            span {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 30px;
            }

            input {
                padding: 10px 15px;
                outline: none;
                background-color: #FCFCFC;
                box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
            }

            input[type="email"],
            input[type="submit"] {
                width: 50%;
            }

            input[type="submit"] {
                background-color: #FFB500;
                color: #ffffff;
                border: none;
                padding: 15px 20px;
                cursor: pointer;
                font-family: Inter;
                font-weight: 700;
                font-style: 18px;
                transition: 0.5s all;
            }

            ::placeholder {
                color: #000000;
                font-family: Inter;
                font-weight: 500;
                font-size: 20px;
            }

            input[type="submit"]:hover {
                background-color: #e6650f;
                transition: 0.5s all;
                color: #ffffff;
            }
        }

        @media screen and(max-width:1200px) {
            &_img {
                width: 400px;
                height: 236px;
            }

            &_info {
                width: 65%;

                h4 {
                    font-size: 20px;
                }

                p {
                    font-size: 17px;
                }

                form {
                    padding-top: 10px;
                }
            }
        }

        @media screen and(max-width:992px) {

            &_img {
                width: 300px;
                height: 236px;
            }

            &_info {
                width: 70%;
                padding-right: 10px;

                h4 {
                    font-size: 16px;

                    img {
                        width: 25px;
                        height: 20px;
                        margin-bottom: 10px;
                        margin-left: -5px;
                    }
                }

                p {
                    font-size: 14px;
                }

                form {
                    padding-top: 10px;
                }

                input[type="submit"] {
                    padding: 5px 20px;
                    font-size: 14px;
                }
            }
        }

        @media screen and(max-width:768px) {
            & {
                display: block;

                &_info {
                    width: 100%;

                    p {
                        width: 100%;
                        margin-right: 0;
                    }
                }

                &_img {
                    margin: 0 auto;
                }
            }
        }

        @media screen and(max-width:576px) {

            &_info {
                h4 {
                    font-size: 18px;

                    img {
                        display: none;
                    }
                }

                p {
                    font-size: 14px;
                }

            }

            input[type="submit"] {
                font-size: 12px;
            }

            ::placeholder {
                font-size: 16px;
            }
        }

        @media screen and(max-width:400px) {

            input[type="submit"] {
                padding: 5px;
            }
        }
    }

    @media screen and(max-width:992px) {
        & {
            padding: 0px 0px;
        }
    }

    @media screen and(max-width:768px) {
        & {
            padding: 25px 0px 0px;
        }
    }
}