.hero {
    background-color: #FAFAFB;

    &__block {
        display: flex;
        align-items: center;
        padding: 40px 0px;

        &_info {
            text-align: center;
            margin: 0px auto;
            padding: 0px 90px;
            order: 1;


            h2 {
                font-weight: 400;
                font-family: Rubik;
                font-size: 32px;
            }

            p {
                font-family: Rubik;
                font-weight: 400;
                font-size: 18px;
                margin-top: 30px;
            }
        }

        &_img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 340px;
            width: 530px;
            order: 2;
            margin: 0px auto;
        }
    }

    @media screen and(max-width:1400px) {
        &__block {
            &_info {
                padding: 0px 50px;
            }
        }
    }

    @media screen and(max-width:1200px) {
        &__block {
            &_img {
                height: 270px;
                width: 430px;
            }

            &_info {
                padding: 0px 0px;
            }
        }
    }


    @media screen and(max-width:992px) {

        &__block {
            &_info {
                width: 100%;
                padding: 0px 20px;

                h2 {
                    font-size: 20px;
                }

                p {
                    font-size: 16px;
                }
            }

            &_img {
                margin: 0;
                height: 220px;
                width: 100%;
            }
        }
    }

    @media screen and(max-width:768px) {
        &__block {
            display: block;

            &_info {
                width: 100%;
                margin-top: 0;
                padding: 0;

                p {
                    margin-top: 15px;
                }
            }

            &_img {
                margin: 20px auto 0px;
                height: 330px;
                width: 100%;
            }
        }
    }

    @media screen and(max-width:576px) {
        &__block {
            &_info {
                padding: 0px;
            }

            &_img {
                height: 190px;
                width: 300px;
            }
        }
    }
}