.hero {
    background-color: #FAFAFB;

    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0px;

        &_info {
            text-align: center;
            margin: 0px auto;
            width: 423px;
            order: 1;

            h2 {
                font-weight: 400;
                font-family: Rubik;
                font-size: 32px;
            }

            p {
                font-family: Rubik;
                font-weight: 400;
                font-size: 18px;
                margin-top: 30px;
            }
        }

        &_img {
            background-image: url('../img/hero/hero.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 340px;
            width: 530px;
            order: 2;
            margin: 0px auto;
        }
    }

    @media screen and(max-width:1200px) {
        &__block {
            &_img {
                height: 270px;
                width: 430px;
            }
        }
    }


    @media screen and(max-width:992px) {

        &__block {
            &_info {
                width: 100%;
                padding: 0px 40px;

                h2 {
                    font-size: 20px;
                }

                button {
                    padding: 15px 25px;
                }
            }

            &_img {
                margin: 0;
                height: 180px;
                min-width: 280px;
            }
        }
    }

    @media screen and(max-width:768px) {
        &__block {
            display: block;

            &_info {
                width: 100%;
                margin-top: 0;
            }

            &_img {
                margin: 20px auto 0px;
                height: 270px;
                width: 400px;
            }
        }
    }

    @media screen and(max-width:576px) {
        &__block {
            &_info {
                padding: 0px;
            }

            &_img {
                height: 180px;
                width: 250px;
            }
        }
    }
}