.services {
  background-color: #FAFAFB;
  padding: 0px 0px 40px 0px;

  &__title {
    font-family: Rubik;
    font-size: 24px;
    font-weight: 400;
  }

  &__line {
    background-color: #F5CA61;
    height: 4px;
    width: 120px;
    margin-top: 15px;
  }

  &__accordion {
    margin: 0px 0px 0px 20px;

    &-item {
      margin-bottom: 10px;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #FFFFFF;
      padding: 10px 15px 10px 25px;
      cursor: pointer;
      transition: background-color 0.3s;
      font-family: Roboto;
      font-size: 20px;
      color: #000000;
      transition: 0.5s all;
    }

    &-header:hover {
      background-color: #FFB500;
      color: #FFFFFF;
      transition: 0.5s all;
    }

    &-icon {
      transition: transform 0.3s;
      height: 12px;
      width: 12px;
      margin-top: -10px;
    }

    &-content {
      display: none;
      padding: 15px 25px;
      background-color: #fff;
      overflow: hidden;
      max-height: 0;
      transition: 0.8s ease-in;

      ul {
        li {
          padding: 10px 0px;
          font-family: Inter;
          font-size: 18px;
          font-weight: 500;
        }
      }
    }

    &-content.active {
      display: block;
      max-height: 1000px;
      transition: 0.8s ease-in-out;
    }

    @media screen and(max-width:1200px) {
      &-content {
        ul {
          li {
            font-size: 16px;
          }
        }
      }
    }

    @media screen and(max-width:576px) {
      &-content {
        ul {
          li {
            font-size: 12px;
          }
        }
      }
    }
  }

  @media screen and(max-width:768px) {
    &__title {
      font-size: 22px;
    }

    &__line {
      margin-top: 12px;
    }
  }

  @media screen and(max-width:567px) {
    &__title {
      font-size: 20px;
    }

    &__line {
      margin-top: 8px;
    }
  }
}