.works {
    background-color: #FAFAFB;
    padding: 10px 0px;

    &__title {
        font-family: Rubik;
        font-size: 24px;
        font-weight: 400;
    }

    &__line {
        background-color: #F5CA61;
        height: 4px;
        width: 120px;
        margin-top: 15px;
    }

    .swiper {
        width: 100%;
        padding: 40px 0px 30px;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 270px;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: auto;
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: #F5CA61;
    }

    @media screen and(max-width:768px) {
        & {
            padding: 20px 0px;
        }

        &__title {
            font-size: 22px;
        }

        &__line {
            margin-top: 12px;
        }
    }

    @media screen and(max-width:576px) {
        & {
            padding: 0px;
        }

        &__title {
            font-size: 20px;
        }

        &__line {
            margin-top: 8px;
        }
    }
}