<section class="gallery">
    <div class="container" id="gallery__background">
        <div class="row">
            <div class="col-12">
                <div id="gallery__position">
                    <div class="col-12 col-lg-3">
                        <div class="gallery__title">
                            <h2>ГАЛЕРЕЯ ПРОЕКТУ</h2>
                            <div class="gallery__title_line"></div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-9">
                        <div class="gallery__img">
                            <div class="img-1"><img src="img/info-page/gallery/gallery-img1.png" alt="gallery-img1">
                            </div>
                            <div class="img-2"><img src="img/info-page/gallery/gallery-img2.png" alt="gallery-img2">
                            </div>
                            <div class="img-3"><img src="img/info-page/gallery/gallery-img3.png" alt="gallery-img3">
                            </div>
                            <div class="img-4"><img src="img/info-page/gallery/gallery-img4.png" alt="gallery-img4">
                            </div>
                            <div class="img-5"><img src="img/info-page/gallery/gallery-img5.png" alt="gallery-img5">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>