<section class="other-projects">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="other-projects__title">
                    <h2>ІНШІ ПРОЕКТИ</h2>
                    <div class="other-projects__title_line"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper other-projects__swiper">
        <div class="swiper-wrapper">
            <a href="#" class="swiper-slide">
                <img class="swiper-slide__img" src="img/info-page/other-projects/img-1.png" alt="">
                <div class="swiper-slide__info">
                    <h3>Lorem Ipsum </h3>
                    <p class="swiper-slide__info_desc">Lorem Ipsum is simply dummy text of the printing. Lorem psum is
                        simply</p>
                    <div class="swiper-slide__info_btn">Дивитись більше
                        <div class="swiper-slide__info_btn-img"></div>
                    </div>
                </div>
            </a>
            <a href="#" class="swiper-slide">
                <img class="swiper-slide__img" src="img/info-page/other-projects/img-2.png" alt="">
                <div class="swiper-slide__info">
                    <h3>Lorem Ipsum </h3>
                    <p class="swiper-slide__info_desc">Lorem Ipsum is simply dummy text of the printing. Lorem psum is
                        simply</p>
                    <div class="swiper-slide__info_btn">Дивитись більше
                        <div class="swiper-slide__info_btn-img"></div>
                    </div>
                </div>
            </a>
            <a href="#" class="swiper-slide">
                <img class="swiper-slide__img" src="img/info-page/other-projects/img-1.png" alt="">
                <div class="swiper-slide__info">
                    <h3>Lorem Ipsum </h3>
                    <p class="swiper-slide__info_desc">Lorem Ipsum is simply dummy text of the printing. Lorem psum is
                        simply</p>
                    <div class="swiper-slide__info_btn">Дивитись більше
                        <div class="swiper-slide__info_btn-img"></div>
                    </div>
                </div>
            </a>
            <a href="#" class="swiper-slide">
                <img class="swiper-slide__img" src="img/info-page/other-projects/img-3.png" alt="">
                <div class="swiper-slide__info">
                    <h3>Lorem Ipsum </h3>
                    <p class="swiper-slide__info_desc">Lorem Ipsum is simply dummy text of the printing. Lorem psum is
                        simply</p>
                    <div class="swiper-slide__info_btn">Дивитись більше
                        <div class="swiper-slide__info_btn-img"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="swiper__button">
            <div class="swiper__button_block">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
    </div>

</section>