<section class="rezult">
    <img class="rezult__img" src="img/info-page/rezult/rezult-img.png" alt="">
    <div class="container" id="rezult__background">
        <div class="row">
            <div class="col-12">
                <div id="rezult__position">
                    <div class="col-12 col-lg-3">
                        <div class="rezult__title">
                            <h2>РЕЗУЛЬТАТ</h2>
                            <div class="rezult__title_line"></div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-9">
                        <div class="rezult__info">
                            <div class="rezult__info_line"></div>
                            <p class="rezult__info_text">Lorem Ipsum is simply dummy text of the printingLorem Ipsum is
                                simply dummy text of the printing. Lorem Ipsum is simply dummy text of the printingLorem
                                Ipsum is simply dummy text of the printing. Lorem Ipsum is simply dummy text of the
                                printingLorem Ipsum is simply dummy text of the printing. Lorem Ipsum is simply dummy
                                text of the printingLorem Ipsum is simply dummy text of the printing. Lorem Ipsum is
                                simply dummy text of the printingLorem Ipsum is simply dummy text of the printing</p>
                            <div class="rezult__info_line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>