<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="hero__block">
                    <div class="col-12 col-md-6">
                        <div class="hero__block_info">
                            <h2>Lorem Ipsum is simply dummy
                                text of the printing</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing.
                                Lorem psum is simply</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="hero__block_img" style="background-image: url('../img/hero/hero.png');"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>