<section class="info">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="info__title">
                    <h2>ЯК ЦЕ ПРАЦЮЄ</h2>
                    <div class="info__line"></div>
                </div>
            </div>
            <div class="col-12 d-md-flex align-items-center">
                <div class="col-sm-12 col-md-6">
                    <div class="info__img" style="background-image: url('../img/info/info.png');"></div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <span id="info__right-block">
                        <div class="info__last-img" style="background-image: url('../img/info/info-last.png');"></div>
                        <div class="info__description">
                            <ul>
                                <li>
                                    <h4>Залишити заявку</h4>
                                    <p>Lorem Ipsum is simply dummy text of the printing</p>
                                </li>
                                <li>
                                    <h4>Консультація</h4>
                                    <p>Lorem Ipsum is simply dummy text of the printing</p>
                                </li>
                                <li>
                                    <h4>Діагностика</h4>
                                    <p>Lorem Ipsum is simply dummy text of the printing</p>
                                </li>
                                <li>
                                    <h4>Послуга</h4>
                                    <p>Lorem Ipsum is simply dummy text of the printing</p>
                                </li>
                                <li>
                                    <h4>Оплата</h4>
                                    <p>Lorem Ipsum is simply dummy text of the printing</p>
                                </li>
                            </ul>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>