<section class="partners">
    <div class="partners__title">
        <div class="partners__title_line"></div>
        <h2 class="partners__title_text">НАМ ДОВІРЯЮТЬ</h2>
        <div class="partners__title_img"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="partners__img">
                    <a href="#"><img src="img/partners/archrock.png" alt="archrock"></a>
                    <a href="#"><img src="img/partners/wordpress.png" alt="wordpress"></a>
                    <a href="#"><img src="img/partners/archrock.png" alt="archrock"></a>
                    <a href="#"><img src="img/partners/wordpress.png" alt="wordpress"></a>
                    <a href="#"><img src="img/partners/archrock.png" alt="archrock"></a>
                </div>
            </div>
        </div>
    </div>
</section>