<section class="questions">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="questions__title">Часті запитання</h2>
            </div>
            <div class="col-12">
                <div class="questions__accordion">
                    <div class="questions__accordion-item">
                        <div class="questions__accordion-header">
                            <h2>Який порядок проведення ремонту?</h2>
                            <div class="questions__accordion-icon"><img src="img/questions/plus.png" alt="plus">
                            </div>
                        </div>
                        <div class="questions__accordion-content">
                            <ul>
                                <li><span>&#8226;</span> ремонт приладу</li>
                                <li><span>&#8226;</span> гарантійний талон</li>
                            </ul>
                        </div>
                    </div>
                    <div class="questions__accordion-item">
                        <div class="questions__accordion-header">
                            <h2>Що входить у вартість послуги?</h2>
                            <div class="questions__accordion-icon"><img src="img/questions/plus.png" alt="plus">
                            </div>
                        </div>
                        <div class="questions__accordion-content">
                            <ul>
                                <li><span>&#8226;</span> ремонт приладу</li>
                                <li><span>&#8226;</span> гарантійний талон</li>
                            </ul>
                        </div>
                    </div>
                    <div class="questions__accordion-item">
                        <div class="questions__accordion-header">
                            <h2>Чи можливо налаштувати ноутбук віддалено?</h2>
                            <div class="questions__accordion-icon"><img src="img/questions/plus.png" alt="plus">
                            </div>
                        </div>
                        <div class="questions__accordion-content">
                            <ul>
                                <li><span>&#8226;</span> ремонт приладу</li>
                                <li><span>&#8226;</span> гарантійний талон</li>
                            </ul>
                        </div>
                    </div>
                    <div class="questions__accordion-item">
                        <div class="questions__accordion-header">
                            <h2>Чи працюєте на виїзд?</h2>
                            <div class="questions__accordion-icon"><img src="img/questions/plus.png" alt="plus">
                            </div>
                        </div>
                        <div class="questions__accordion-content">
                            <ul>
                                <li><span>&#8226;</span> ремонт приладу</li>
                                <li><span>&#8226;</span> гарантійний талон</li>
                            </ul>
                        </div>
                    </div>
                    <div class="questions__accordion-item">
                        <div class="questions__accordion-header">
                            <h2>Чи надається знижка на декілька послуг?</h2>
                            <div class="questions__accordion-icon"><img src="img/questions/plus.png" alt="plus">
                            </div>
                        </div>
                        <div class="questions__accordion-content">
                            <ul>
                                <li><span>&#8226;</span> ремонт приладу</li>
                                <li><span>&#8226;</span> гарантійний талон</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>