<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="services__title">
                    <h2>НАШІ ПОСЛУГИ</h2>
                    <div class="services__line"></div>
                </div>
                <div class="col-12 d-lg-flex mt-3 mt-md-5">
                    <div class="col-md-12 col-lg-6">
                        <div class="services__accordion">
                            <div class="services__accordion-item">
                                <div class="services__accordion-header">
                                    <h2>Пакет Small</h2>
                                    <div class="services__accordion-icon"><img src="img/services/plus.png" alt="plus">
                                    </div>
                                </div>
                                <div class="services__accordion-content">
                                    <ul>
                                        <li><span>&#8226;</span> Lorem Ipsum is simply dummy text of the printing</li>
                                        <li><span>&#8226;</span> Lorem Ipsum is simply dummy text of the printing</li>
                                        <li><span>&#8226;</span> Lorem Ipsum is simply dummy text of the printing</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="services__accordion-item">
                                <div class="services__accordion-header">
                                    <h2>Пакет Middle</h2>
                                    <div class="services__accordion-icon"><img src="img/services/plus.png" alt="plus">
                                    </div>
                                </div>
                                <div class="services__accordion-content">
                                    <ul>
                                        <li><span>&#8226;</span> Lorem Ipsum is simply dummy text of the printing</li>
                                        <li><span>&#8226;</span> Lorem Ipsum is simply dummy text of the printing</li>
                                        <li><span>&#8226;</span> Lorem Ipsum is simply dummy text of the printing</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="services__accordion-item">
                                <div class="services__accordion-header">
                                    <h2>Пакет Small</h2>
                                    <div class="services__accordion-icon"><img src="img/services/plus.png" alt="plus">
                                    </div>
                                </div>
                                <div class="services__accordion-content">
                                    <ul>
                                        <li><span>&#8226;</span> Lorem Ipsum is simply dummy text of the printing</li>
                                        <li><span>&#8226;</span> Lorem Ipsum is simply dummy text of the printing</li>
                                        <li><span>&#8226;</span> Lorem Ipsum is simply dummy text of the printing</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="services__accordion-item">
                                <div class="services__accordion-header">
                                    <h2>Пакет Small</h2>
                                    <div class="services__accordion-icon"><img src="img/services/plus.png" alt="plus">
                                    </div>
                                </div>
                                <div class="services__accordion-content">
                                    <ul>
                                        <li><span>&#8226;</span> Lorem Ipsum is simply dummy text of the printing</li>
                                        <li><span>&#8226;</span> Lorem Ipsum is simply dummy text of the printing</li>
                                        <li><span>&#8226;</span> Lorem Ipsum is simply dummy text of the printing</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="services__accordion">
                            <div class="services__accordion-item">
                                <div class="services__accordion-header">
                                    <h2>Пакет Small</h2>
                                    <div class="services__accordion-icon"><img src="img/services/plus.png" alt="plus">
                                    </div>
                                </div>
                                <div class="services__accordion-content">
                                    <ul>
                                        <li><span>&#8226;</span> Lorem Ipsum is simply dummy text of the printing</li>
                                        <li><span>&#8226;</span> Lorem Ipsum is simply dummy text of the printing</li>
                                        <li><span>&#8226;</span> Lorem Ipsum is simply dummy text of the printing</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="services__accordion-item">
                                <div class="services__accordion-header">
                                    <h2>Пакет Small</h2>
                                    <div class="services__accordion-icon"><img src="img/services/plus.png" alt="plus">
                                    </div>
                                </div>
                                <div class="services__accordion-content">
                                    <ul>
                                        <li><span>&#8226;</span> Lorem Ipsum is simply dummy text of the printing</li>
                                        <li><span>&#8226;</span> Lorem Ipsum is simply dummy text of the printing</li>
                                        <li><span>&#8226;</span> Lorem Ipsum is simply dummy text of the printing</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="services__accordion-item">
                                <div class="services__accordion-header">
                                    <h2>Пакет Small</h2>
                                    <div class="services__accordion-icon"><img src="img/services/plus.png" alt="plus">
                                    </div>
                                </div>
                                <div class="services__accordion-content">
                                    <ul>
                                        <li><span>&#8226;</span> Lorem Ipsum is simply dummy text of the printing</li>
                                        <li><span>&#8226;</span> Lorem Ipsum is simply dummy text of the printing</li>
                                        <li><span>&#8226;</span> Lorem Ipsum is simply dummy text of the printing</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="services__accordion-item">
                                <div class="services__accordion-header">
                                    <h2>Пакет Small</h2>
                                    <div class="services__accordion-icon"><img src="img/services/plus.png" alt="plus">
                                    </div>
                                </div>
                                <div class="services__accordion-content">
                                    <ul>
                                        <li><span>&#8226;</span> Lorem Ipsum is simply dummy text of the printing</li>
                                        <li><span>&#8226;</span> Lorem Ipsum is simply dummy text of the printing</li>
                                        <li><span>&#8226;</span> Lorem Ipsum is simply dummy text of the printing</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>