<section class="works">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="works__title">
                    <h2>ПРИКЛАДИ РОБІТ</h2>
                    <div class="works__line"></div>
                </div>
            </div>
            <div class="col-12">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="img/works/work1.png" />
                        </div>
                        <div class="swiper-slide">
                            <img src="img/works/work2.png" />
                        </div>
                        <div class="swiper-slide">
                            <img src="img/works/work3.png" />
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
</section>