.one-service-hero {
    background-color: #FAFAFB;
    padding: 250px 0px 180px;

    &__info {
        text-align: center;

        h2 {
            font-family: Rubik;
            font-weight: 400;
            font-size: 30px;
            color: #000000;
            margin-bottom: 30px;
        }

        p {
            font-family: Inter;
            font-weight: 400;
            font-size: 20px;
            color: #000000;
        }
    }

    @media screen and(max-width:768px) {
        & {
            padding: 150px 0px 100px;

            h2 {
                font-size: 24px;
            }

            p {
                font-size: 16px;
            }
        }
    }

    @media screen and(max-width:576px) {
        &__info {
            h2 {
                font-size: 20px;
            }

            p {
                font-size: 14px;
            }
        }
    }

}