.one-service-product {
    background-color: #FAFAFB;
    padding: 0px 0px 50px;

    #one-service-product__position {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__block {
        width: 246px;
        margin-top: 40px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);

        &_name {
            position: relative;
            background-color: #ffffff;
            padding: 30px 0px;
            border-radius: 3px;
            text-align: center;

            p {
                font-family: Inter;
                font-weight: 600;
                font-size: 18px;
            }
        }

        &_name::before,
        &_name::after {
            content: '';
            position: absolute;
            width: 36px;
            height: 26px;
            border-radius: 3px 0px 3px 0px;
        }

        &_name::before {
            top: 0;
            left: 0;
            border-top: 2px solid #F5CA61;
            border-left: 2px solid #F5CA61;
        }

        &_name::after {
            bottom: 0;
            right: 0;
            border-bottom: 2px solid #F5CA61;
            border-right: 2px solid #F5CA61;
        }

        &_info {
            background-color: #ffffff;
            padding: 30px 15px;
            border-radius: 3px;
            margin-top: 7px;
            text-align: center;

            &-price {
                color: #FFB500;
                font-family: Inter;
                font-weight: 400;
                font-size: 18px;
            }

            &-desc {
                color: #000000;
                font-family: Inter;
                font-weight: 400;
                font-size: 16px;
                margin: 5px 0px 30px;
            }

            h5 {
                font-family: Inter;
                font-weight: 500;
                font-size: 16px;
                margin: 5px 0px 10px;
            }


            .radio-container {
                display: flex;
                flex-direction: column;
            }

            .radio-label {
                display: flex;
                margin-bottom: 10px;
            }

            .radio-label_text {
                width: 220px;
                text-align: start;
            }

            .radio-input {
                display: none;
            }

            .radio-custom {
                display: inline-block;
                width: 22px;
                height: 19px;
                border: 1px solid #F5CA61;
                border-radius: 50%;
                margin-right: 10px;
                position: relative;
            }

            .radio-input:checked+.radio-custom::before {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                background-color: #F5CA61;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: block;
            }

            input[type="submit"] {
                background-color: #F5CA61;
                padding: 15px 20px;
                color: #FFFFFF;
                font-family: Inter;
                font-weight: 400;
                font-size: 16px;
                border-radius: 3px;
                margin-top: 25px;
            }
        }
    }

    @media screen and(max-width:1200px) {
        &__block {
            width: 90%px;
        }
    }

    @media screen and(max-width:992px) {
        & {
            padding: 0px 0px 20px;
        }

        #one-service-product__position {
            justify-content: space-around;
        }
    }

    @media screen and(max-width:576px) {
        #one-service-product__position {
            justify-content: center;
        }
    }
}