<section class="contact-form">
    <div class="container">
        <div class="row">
            <div id="contact-form__position">
                <div class="col-12 col-md-7">
                    <div class="contact-form__title">
                        <h2>ШВИДКИЙ ЗВ’ЯЗОК З НАМИ</h2>
                        <div class="contact-form__title_line"></div>
                        <p class="contact-form__subtitle">Lorem Ipsum is simply dummy text of the printing. Lorem psum
                            is simply</p>
                    </div>
                    <form>
                        <div id="form__position">
                            <div id="form__position_last">
                                <label for="name">Ім'я:</label>
                                <input type="name" id="name">
                            </div>
                            <div id="form__position_last">
                                <label class="contact-form__label">Телефон</label>
                                <input type="tel" id="phone">
                            </div>
                        </div>
                        <div id="form__description">
                            <label for="query">Опишіть ваш запит</label>
                            <input type="text" id="query">
                        </div>
                        <button type="submit" class="contact-form__button">ВІДПРАВИТИ ЗАЯВКУ</button>
                    </form>
                </div>
                <div class="col-12 col-md-5">
                    <div class="contact-form__info">
                        <span class="contact-form__info_title">
                            <h4>Соціальні мережі</h4>
                            <img class="contact-form__info_img" src="img/contact/instagram.png" alt="instagram">
                            <img class="contact-form__info_img" src="img/contact/telegram.png" alt="telegram">
                        </span>
                        <div id="contact-form__info_position">
                            <div id="contact-form__info_size">
                                <span>
                                    <h4>Адреса</h4>
                                    <span class="contact-form__info_position">
                                        <img src="img/contact/location.png" alt="instagram">
                                        <p>вул. Дрогобицька 7, ТЦ Олімп</p>
                                    </span>
                                </span>
                                <span>
                                    <h4>Контакти</h4>
                                    <span class="contact-form__info_position">
                                        <img src="img/contact/tel.png" alt="instagram">
                                        <p>+38(068)- 999 -99 -99</p>
                                    </span>
                                </span>
                            </div>
                            <div id="contact-form__info_size">
                                <span>
                                    <h4>E-mail</h4>
                                    <span class="contact-form__info_position">
                                        <img src="img/contact/mail.png" alt="instagram">
                                        <p>avatar_help@gmail.com</p>
                                    </span>
                                </span>
                                <span>
                                    <h4>Працюємо</h4>
                                    <span class="contact-form__info_position">
                                        <img src="img/contact/time.png" alt="instagram">
                                        <p>Пн-Пт 10:00-19:00, Сб 10:00-17:00</p>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-form__img">
        <img class="" src="img/contact/card.png" alt="location">
    </div>
</section>