<section class="about">
    <div class="about__title">
        <div class="about__title_img"></div>
        <h2 class="about__title_text">ПРО НАС </h2>
        <div class="about__title_line"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about__info">
                    <div class="about__info_img">
                        <img src="img/about/info.png" alt="">
                    </div>
                    <div class="about__info_text">
                        <h3>R2R COMPANY</h3>
                        <p>Lorem Ipsum is simply dummytext of the printing . Lorem Ipsum is simply dummytext of the
                            printing. Lorem Ipsum is simply dummytext of the printing. Lorem Ipsum is simply dummy text
                            of the printing. Lorem Ipsum is simply dummytext of the printing .</p>
                    </div>
                </div>
            </div>
            <div class="col-12 d-lg-flex">
                <div class="col-md-12 col-lg-6">
                    <div class="about__options">
                        <img class="about__options_img" src="img/about/option1.png" alt="option1">
                        <span>
                            <h5 class="about__options_title">Lorem Ipsum is simply dummy text</h5>
                            <p class="about__options_text">Lorem Ipsum is simply dummy <br> text. Lorem Ipsum is simply
                                <br> dummy
                                text
                            </p>
                        </span>
                    </div>
                    <div class="about__options">
                        <img class="about__options_img" src="img/about/option2.png" alt="option1">
                        <span>
                            <h5 class="about__options_title">Lorem Ipsum is simply dummy text</h5>
                            <p class="about__options_text">Lorem Ipsum is simply dummy <br>text. Lorem Ipsum is simply
                                <br> dummy
                                text
                            </p>
                        </span>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6" id="about__options_size">
                    <div class="about__options">
                        <img class="about__options_img" src="img/about/option3.png" alt="option1">
                        <span>
                            <h5 class="about__options_title">Lorem Ipsum is simply dummy text</h5>
                            <p class="about__options_text">Lorem Ipsum is simply dummy <br> text. Lorem Ipsum is simply
                                <br> dummy
                                text
                            </p>
                        </span>
                    </div>
                    <div class="about__options">
                        <img class="about__options_img" src="img/about/option4.png" alt="option1">
                        <span>
                            <h5 class="about__options_title">Lorem Ipsum is simply dummy text</h5>
                            <p class="about__options_text">Lorem Ipsum is simply dummy <br>text. Lorem Ipsum is simply
                                <br> dummy
                                text
                            </p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>