<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="footer__info">
                    <h2>R2R COMPANY</h2>
                    <p>Lorem Ipsum is simply dummytext of the printing.Lorem Ipsum is simply dummy text of the
                        printing </p>
                    <a href="#"><img src="img/footer/instagram.png" alt="instagram"></a>
                    <a href="#"><img src="img/footer/telegram.png" alt="telegram"></a>
                </div>
            </div>
            <div class="col-5 col-md-4">
                <div class="footer__navigation">
                    <nav>
                        <ul>
                            <li><a href="">Головна</a></li>
                            <li><a href="">Послуги</a></li>
                            <li><a href="">Одиничні послуги</a></li>
                            <li><a href="">Про нас</a></li>
                            <li><a href="">Приклади робіт</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-7 col-md-4">
                <div class="footer__contact">
                    <ul>
                        <li><a href="tel:+38(068)- 999 -99 -99"><img src="img/footer/tel.png" alt="telephone">+38(068)-
                                999 -99 -99</a></li>
                        <li><a href=""><img src="img/footer/mail.png" alt="mail">avatar_help@gmail.com</a></li>
                        <li><a href=""><img src="img/footer/location.png" alt="location">вул. Дрогобицька 7, ТЦ
                                Олімп</a></li>
                        <li><a href=""><img src="img/footer/time.png" alt="time-work">Пн-Пт 10:00-19:00, Сб
                                10:00-17:00</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>