<section class="form">
    <div class="container">
        <div class="form__block">
            <div class="form__block_img"></div>
            <div class="form__block_info">
                <h4>Отримайте консультацію від наших спеціалістів</h4>
                <p>Ми зв’яжемося з Вами та підготуємо
                    вигідну пропзицію саме для Вас</p>
                <form>
                    <span class="d-flex">
                        <input type="text" id="name" name="name" placeholder="Ім'я"><br><br>
                        <input type="tel" id="phone" name="phone" placeholder="Телефон"><br><br>
                    </span>
                    <input type="request" id="request" name="request" placeholder="Опишіть Ваш запит"><br><br>
                    <input type="submit" value="ВІДПРАВИТИ ЗАЯВКУ">
                </form>
            </div>
        </div>
    </div>
</section>