<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="header-top">
                    <ul>
                        <li><a href=""><img style="margin-right: 0;" src="img/header/locationlast.png"
                                    alt="location">вул.
                                Дрогобицька 7, ТЦ Олімп</a></li>
                        <li><a href=""><img src="img/header/time.png" alt="time">Пн-Пт 10:00-19:00, Сб 10:00-17:00</a>
                        </li>
                        <li><a href="tel:+38(068)- 999 -99 -99"><img src="img/header/tel.png" alt="tel">+38(068)- 999
                                -99 -99</a></li>
                    </ul>
                </div>
                <div class="header-main">
                    <div class="header-main__logo"><a href="#">LOGO</a></div>
                    <nav>
                        <ul>
                            <li><a href="#">Головна</a></li>
                            <li><a href="#">Послуги</a></li>
                            <li><a href="#">Про нас</a></li>
                            <li><a href="#">Контакти</a></li>
                        </ul>
                    </nav>

                    <div class="header-main__social">
                        <a href="#"><img src="img/header/instagram.png" alt="instagram"></a>
                        <a href="#"><img src="img/header/telegram.png" alt="telegram"></a>
                        <div class="header-main__social_select">
                            <select>
                                <option value="ua">UA</option>
                                <option value="en">EN</option>
                                <option value="es">SP</option>
                                <option value="de">GE</option>
                            </select>
                        </div>
                    </div>
                </div>
                <span>
                    <a class="menu__icon mobile"><span></span></a>
                    <ul class="menu mobile">
                        <li><a href="#" class="menu__item">Головна</a></li>
                        <li><a href="#" class="menu__item">Послуги</a></li>
                        <li><a href="#" class="menu__item">Про нас</a></li>
                        <li><a href="#" class="menu__item">Контакти</a></li>
                    </ul>
                </span>
            </div>
        </div>
    </div>
</header>