<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-12" id="hero__background">
                <div class="hero__block">
                    <div class="hero__block_info">
                        <h2>Lorem Ipsum is simply dummy
                            text of the printing</h2>
                        <button class="hero__block_info-btn">Залишити заявку</button>
                    </div>
                    <div class="hero__block_img"></div>
                </div>
            </div>
        </div>
    </div>
</section>