<section class="reviews">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="reviews__title">
                    <h2>ВІДГУК КЛІЄНТІВ</h2>
                    <div class="reviews__line"></div>
                </div>
                <div class="col-12">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" id="swiper-slide-first_slide">
                                <p class="swiper-slide_text">Lorem Ipsum is simply dummytext of the printing . Lorem
                                    Ipsum is simply dummytext of
                                    the printing.</p>
                                <span>
                                    <div class="swiper-slide_img">
                                        <img src="img/reviews/img1.png" alt="">
                                    </div>
                                    <div id="swiper-slide_info">
                                        <h5 class="swiper-slide_name">Aрсен Метріш</h5>
                                        <p class="swiper-slide_status">клієнт</p>
                                    </div>
                                </span>
                            </div>
                            <div class="swiper-slide">
                                <p class="swiper-slide_text">Lorem Ipsum is simply dummytext of the printing . Lorem
                                    Ipsum is simply dummytext of
                                    the printing. Lorem Ipsum is simply dummytext of the printing. Lorem Ipsum is simply
                                    dummy</p>
                                <span>
                                    <div class="swiper-slide_img">
                                        <img src="img/reviews/img2.png" alt="">
                                    </div>
                                    <div id="swiper-slide_info">
                                        <h5 class="swiper-slide_name">Aрсен Метріш</h5>
                                        <p class="swiper-slide_status">клієнт</p>
                                    </div>
                                </span>
                            </div>
                            <div class="swiper-slide">
                                <p class="swiper-slide_text">Lorem Ipsum is simply dummytext of the printing . Lorem
                                    Ipsum is simply dummytext of
                                    the printing. </p>
                                <span>
                                    <div class="swiper-slide_img">
                                        <img src="img/reviews/img3.png" alt="">
                                    </div>
                                    <div id="swiper-slide_info">
                                        <h5 class="swiper-slide_name">Aрсен Метріш</h5>
                                        <p class="swiper-slide_status">клієнт</p>
                                    </div>
                                </span>
                            </div>
                            <div class="swiper-slide">
                                <p class="swiper-slide_text">Lorem Ipsum is simply dummytext of the printing . Lorem
                                    Ipsum is simply dummytext of
                                    the printing.</p>
                                <span>
                                    <div class="swiper-slide_img">
                                        <img src="img/reviews/img1.png" alt="">
                                    </div>
                                    <div id="swiper-slide_info">
                                        <h5 class="swiper-slide_name">Aрсен Метріш</h5>
                                        <p class="swiper-slide_status">клієнт</p>
                                    </div>
                                </span>
                            </div>
                            <div class="swiper-slide">
                                <p class="swiper-slide_text">Lorem Ipsum is simply dummytext of the printing . Lorem
                                    Ipsum is simply dummytext of
                                    the printing. Lorem Ipsum is simply dummytext of the printing. Lorem Ipsum is simply
                                    dummy</p>
                                <span>
                                    <div class="swiper-slide_img">
                                        <img src="img/reviews/img2.png" alt="">
                                    </div>
                                    <div id="swiper-slide_info">
                                        <h5 class="swiper-slide_name">Aрсен Метріш</h5>
                                        <p class="swiper-slide_status">клієнт</p>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>