<!-- <section class="facilities">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="facilities__tabs">
                    <button class="facilities__tab active" id="individualTab">Індивідуальні послуги</button>
                    <button class="facilities__tab" id="singleTab">Одинарні послуги</button>
                </div>
                <div class="col-12 d-flex justify-content-end">
                    <div class="facilities__right-text">
                        <a href="#">Всі послуги</a>
                        <div class="facilities__right-text_line"></div>
                    </div>
                </div>
                <div class="col-12">
                    <div id="facilities__position">
                        <div class="facilities__content active" id="individualContent">
                            <div class="col-3">
                                <div id="facilities__size">
                                    <a href="#"><img src="img/servis/facilities/img-1.png" alt="img-1">
                                        <h4>Lorem Ipsum </h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                        <div class="facilities__content_btn">
                                            <a href="#">Дивитись більше
                                                <img src="img/servis/facilities/stroke.png" alt="">
                                            </a>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-3">
                                <div id="facilities__size">
                                    <a href="#"><img src="img/servis/facilities/img-2.png" alt="img-1">
                                        <h4>Lorem Ipsum </h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                        <div class="facilities__content_btn">
                                            <a href="#">Дивитись більше
                                                <img src="img/servis/facilities/stroke.png" alt="">
                                            </a>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-3">
                                <div id="facilities__size">
                                    <a href="#"><img src="img/servis/facilities/img-3.png" alt="img-1">
                                        <h4>Lorem Ipsum </h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                        <div class="facilities__content_btn">
                                            <a href="#">Дивитись більше
                                                <img src="img/servis/facilities/stroke.png" alt="">
                                            </a>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-3">
                                <div id="facilities__size">
                                    <a href="#"><img src="img/servis/facilities/img-4.png" alt="img-1">
                                        <h4>Lorem Ipsum </h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                        <div class="facilities__content_btn">
                                            <a href="#">Дивитись більше
                                                <img src="img/servis/facilities/stroke.png" alt="">
                                            </a>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div id="facilities__position">
                        <div class="facilities__content active" id="individualContent">
                            <div class="col-3">
                                <div id="facilities__size">
                                    <a href="#"><img src="img/servis/facilities/img-5.png" alt="img-1">
                                        <h4>Lorem Ipsum </h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                        <div class="facilities__content_btn">
                                            <a href="#">Дивитись більше
                                                <img src="img/servis/facilities/stroke.png" alt="">
                                            </a>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-3">
                                <div id="facilities__size">
                                    <a href="#"><img src="img/servis/facilities/img-6.png" alt="img-1">
                                        <h4>Lorem Ipsum </h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                        <div class="facilities__content_btn">
                                            <a href="#">Дивитись більше
                                                <img src="img/servis/facilities/stroke.png" alt="">
                                            </a>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-3">
                                <div id="facilities__size">
                                    <a href="#"><img src="img/servis/facilities/img-7.png" alt="img-1">
                                        <h4>Lorem Ipsum </h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                        <div class="facilities__content_btn">
                                            <a href="#">Дивитись більше
                                                <img src="img/servis/facilities/stroke.png" alt="">
                                            </a>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-3">
                                <div id="facilities__size">
                                    <a href="#"><img src="img/servis/facilities/img-8.png" alt="img-1">
                                        <h4>Lorem Ipsum </h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                        <div class="facilities__content_btn">
                                            <a href="#">Дивитись більше
                                                <img src="img/servis/facilities/stroke.png" alt="">
                                            </a>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="facilities__content" id="singleContent">
                    <p>Тут ви можете розмістити вміст, що стосується одинарних послуг.</p>
                </div>
            </div>
        </div>
    </div>
</section> -->



<!-- <div class="facilities__content active" id="individualContent">
    <a href="#"><img src="img/servis/facilities/img-1.png" alt="img-1">
        <h4>Lorem Ipsum </h4>
        <p>Lorem Ipsum is simply dummy text of the printing.</p>
        <div class="facilities__content_btn">
            <a href="#">Дивитись більше
                <img src="img/servis/facilities/stroke.png" alt="">
            </a>
        </div>
    </a>
</div> -->