<section class="servis-hero">
    <div class="container">
        <div class="row">
            <div id="servis-hero__position">
                <div class="col-12 col-md-6">
                    <div class="servis-hero__info">
                        <h3>Lorem Ipsum is simply dummy
                            text of the printing
                        </h3>
                        <p>Lorem Ipsum is simply dummy text of the printing.
                            Lorem psum is simply</p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="servis-hero__img">
                        <img src="img/servis/hero/hero.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>