<section class="previous-works">
    <div class="container">
        <div class="previous-works__block">
            <div class="previous-works__block_img">
                <span>
                    <img src="img/servis/previous/img-1.png" alt="img-1">
                    <img src="img/servis/previous/img-2.png" alt="img-2">
                </span>
                <div class="previous-works__block_img-last">
                    <img src="img/servis/previous/img-3.png" alt="img-2">
                </div>
            </div>
            <div class="previous-works__block_info">
                <h2>ПОПЕРЕДНІ РОБОТИ</h2>
                <div class="previous-works__block_info-line"></div>
                <p>Lorem Ipsum is simply dummy text of the printingLorem Ipsum is simply dummy text of the printing.
                    Lorem Ipsum is simply dummy text of the printingLorem Ipsum is simply dummy text of the printing</p>
                <button>ДИВИТИСЬ УСІ</button>
            </div>
        </div>
    </div>
    </div>
</section>