<section class="servis-questions">
<div class="container">
    <div class="row">
        <div id="servis-questions__position">
            <div class="col-12 col-md-6">
                <div class="servis-questions__img">
                    <img src="img/servis/questions/img.png" alt="">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="servis-questions__info">
                    <h3>Залишилися запитання?
                    </h3>
                    <p>Зв’яжіться з нами та підготуємо вигідну пропозицію саме для Вас</p>
                    <button>ВІДПРАВИТИ ЗАЯВКУ</button>
                </div>
            </div>
        </div>
    </div>
</div>
</section>