<section class="servis-questions">
    <div class="container">
        <div class="row">
            <div id="servis-questions__position">
                <div class="col-12 col-md-6">
                    <div class="servis-questions__img">
                        <img src="img/servis/questions/img.png" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="servis-questions__info">
                        <h3>Залишилися запитання?
                        </h3>
                        <p>Зв’яжіться з нами та підготуємо вигідну пропозицію саме для Вас</p>
                        <button id="popupButton">ВІДПРАВИТИ ЗАЯВКУ</button>
                    </div>
                    <div id="popup" class="popup">
                        <div class="popup-content">
                            <span class="close" id="closePopup">&times;</span>
                            <div class="popup-form">
                                <div class="container">
                                    <div class="row">
                                        <div id="popup-form__position">
                                            <div class="popup__img">
                                                <img src="img/one-service/form/form-img.png" alt="form-img">
                                                <div class="popup__img_info">
                                                    <h3>300+</h3>
                                                    <p>підключених камер відеоспостереження</p>
                                                </div>
                                            </div>
                                            <div class="popup__block">
                                                <div class="popup__block_info">
                                                    <h3>Команда R2R забезпечить надійність Вашого будинку</h3>
                                                    <p>Lorem Ipsum is simply dummy text</p>
                                                    <h4>Стань наступним клієнтом! Залишай заявку і ми зв’яжемося з тобою
                                                        найближчим часом</h4>
                                                    <form>
                                                        <span class="d-flex">
                                                            <input type="text" id="name" name="name"
                                                                placeholder="Ім'я"><br><br>
                                                            <input type="tel" id="phone" name="phone"
                                                                placeholder="Телефон"><br><br>
                                                        </span>
                                                        <input type="request" id="request" name="request"
                                                            placeholder="Опишіть Ваш запит"><br><br>
                                                        <input type="submit" value="ВІДПРАВИТИ ЗАЯВКУ">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>