<section class="about-us-hero">
    <div class="about-us-hero__background">
        <img src="img/previous-works/hero/hero.png" alt="hero-image">
        <div class="about-us-hero_info">
            <h4>R2R Company - </h4>
            <h2>ХТО МИ?</h2>
            <div class="about-us-hero_info-line"></div>
            <p>Lorem Ipsum is simply dummy text of the printing. Lorem psum is simply</p>
        </div>
        <div class="about-us-hero__last">
            <img id="about-us-hero__last_img" src="img/previous-works/hero/hero-last.png" alt="hero-last">
        </div>
    </div>
</section>