<section class="about-us-info">
    <div class="container">
        <div class="row">
            <div class="col-12" id="about-us-info__position">
                <div class="col-lg-6">
                    <div class="about-us-info__block">
                        <div class="about-us-info__block_img">
                            <img src="img/about-us/info/img1.png" alt="">
                        </div>
                        <div class="about-us-info__block_desc">
                            <h4>Lorem Ipsum is simply dummy text</h4>
                            <p>Lorem Ipsum is simply dummy text. Lorem Ipsum is simply dummy text</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-us-info__block">
                        <div class="about-us-info__block_img">
                            <img src="img/about-us/info/img2.png" alt="">
                        </div>
                        <div class="about-us-info__block_desc">
                            <h4>Lorem Ipsum is simply dummy text</h4>
                            <p>Lorem Ipsum is simply dummy text. Lorem Ipsum is simply dummy text</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" id="about-us-info__position">
                <div class="col-lg-6">
                    <div class="about-us-info__block">
                        <div class="about-us-info__block_img">
                            <img src="img/about-us/info/img3.png" alt="">
                        </div>
                        <div class="about-us-info__block_desc">
                            <h4>Lorem Ipsum is simply dummy text</h4>
                            <p>Lorem Ipsum is simply dummy text. Lorem Ipsum is simply dummy text</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-us-info__block">
                        <div class="about-us-info__block_img">
                            <img src="img/about-us/info/img4.png" alt="">
                        </div>
                        <div class="about-us-info__block_desc">
                            <h4>Lorem Ipsum is simply dummy text</h4>
                            <p>Lorem Ipsum is simply dummy text. Lorem Ipsum is simply dummy text</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>