<section class="about-us-slider">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-us-slider__title">
                    <h2>БІЛЬШЕ ПРО НАС</h2>
                    <div class="about-us-slider__title_line"></div>
                </div>
            </div>
            <div class="col-12">
                <div class="swiper about-us__swipper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="img/about-us/slider/img-1.png" alt="slider-img1">
                            <span class="swiper-slide__info">
                                <h3>Артур Костяк</h3>
                                <h4>Засновник</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing. Lorem psum is simply</p>
                                <span id="swiper-slide__info_img">
                                    <a href="#" class="swiper-slide__info_instagram"></a>
                                    <a href="#" class="swiper-slide__info_telegram"></a>
                                </span>
                            </span>
                        </div>
                        <div class="swiper-slide">
                            <img src="img/about-us/slider/img-2.png" alt="slider-img2">
                            <span class="swiper-slide__info">
                                <h3>Артур Костяк</h3>
                                <h4>Засновник</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing. Lorem psum is simply</p>
                                <span id="swiper-slide__info_img">
                                    <a href="#" class="swiper-slide__info_instagram"></a>
                                    <a href="#" class="swiper-slide__info_telegram"></a>
                                </span>
                                <span id="swiper-slide__info_img-last">
                                    <a href="#" class="swiper-slide__info_instagram-last"></a>
                                    <a href="#" class="swiper-slide__info_telegram-last"></a>
                                </span>
                            </span>
                        </div>
                        <div class="swiper-slide">
                            <img src="img/about-us/slider/img-1.png" alt="slider-img1">
                            <span class="swiper-slide__info">
                                <h3>Артур Костяк</h3>
                                <h4>Засновник</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing. Lorem psum is simply</p>
                                <span id="swiper-slide__info_img">
                                    <a href="#" class="swiper-slide__info_instagram"></a>
                                    <a href="#" class="swiper-slide__info_telegram"></a>
                                </span>
                                <span id="swiper-slide__info_img-last">
                                    <a href="#" class="swiper-slide__info_instagram-last"></a>
                                    <a href="#" class="swiper-slide__info_telegram-last"></a>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>