<style>
    .about-us-slider .swiper-slide__info_instagram,
    .about-us-slider .swiper-slide__info_telegram {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0px 15px;
    }

    .about-us-slider .swiper-slide__info_instagram {
        background-image: url('../img/about-us/slider/instagram.png');
        height: 20px;
        width: 20px;
    }

    .about-us-slider .swiper-slide__info_telegram {
        background-image: url('../img/about-us/slider/telegram.png');
        height: 20px;
        width: 22px;
    }

    .about-us-slider .swiper-slide-active .swiper-slide__info_instagram {
        background-image: url('../img/about-us/slider/instagram-last.png');
        height: 20px;
        width: 20px;
    }

    .about-us-slider .swiper-slide-active .swiper-slide__info_telegram {
        background-image: url('../img/about-us/slider/telegram-last.png');
        height: 20px;
        width: 22px;
    }

    /* Стиль стрілки вліво */
    .about-us-slider .swiper-button-next::after {
        background-image: url('../img/info-page/other-projects/stroke-slider.png');
        margin-left: 3px;
        transform: rotate(180deg);
        transition: 0.3s all;
    }

    /* Стиль стрілки вправо */
    .about-us-slider .swiper-button-prev::after {
        background-image: url('../img/info-page/other-projects/stroke-slider.png');
        margin-right: 3px;
        transition: 0.3s all;
    }

    /* Зміна кольору фону при наведенні на стрілки */
    .about-us-slider .swiper-button-next:hover,
    .about-us-slider .swiper-button-prev:hover {
        background-color: #F5CA61;
        transition: background-color 0.3s ease;
    }

    .about-us-slider .swiper-button-prev:hover::after {
        background-image: url('../img/info-page/other-projects/stroke-slider-last.png');
        transition: 0.3s all;
        transform: rotate(180deg);
    }

    .about-us-slider .swiper-button-next:hover::after {
        background-image: url('../img/info-page/other-projects/stroke-slider-last.png');
        transition: 0.3s all;
        transform: rotate(0deg);
    }
</style>


<section class="about-us-slider">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-us-slider__title">
                    <h2>БІЛЬШЕ ПРО НАС</h2>
                    <div class="about-us-slider__title_line"></div>
                </div>
            </div>
            <div class="col-12">
                <div class="swiper about-us__swipper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="img/about-us/slider/img-1.png" alt="slider-img-1">
                            <span class="swiper-slide__info">
                                <h3>Артур Костяк</h3>
                                <h4>Засновник</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing. Lorem psum is simply</p>
                                <span id="swiper-slide__info_img">
                                    <a href="#" class="swiper-slide__info_instagram"></a>
                                    <a href="#" class="swiper-slide__info_telegram"></a>
                                </span>
                            </span>
                        </div>
                        <div class="swiper-slide">
                            <img src="img/about-us/slider/img-2.png" alt="slider-img-2">
                            <span class="swiper-slide__info">
                                <h3>Артур Костяк</h3>
                                <h4>Засновник</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing. Lorem psum is simply</p>
                                <span id="swiper-slide__info_img">
                                    <a href="#" class="swiper-slide__info_instagram"></a>
                                    <a href="#" class="swiper-slide__info_telegram"></a>
                                </span>
                            </span>
                        </div>
                        <div class="swiper-slide">
                            <img src="img/about-us/slider/img-1.png" alt="slider-img-1">
                            <span class="swiper-slide__info">
                                <h3>Артур Костяк</h3>
                                <h4>Засновник</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing. Lorem psum is simply</p>
                                <span id="swiper-slide__info_img">
                                    <a href="#" class="swiper-slide__info_instagram"></a>
                                    <a href="#" class="swiper-slide__info_telegram"></a>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>