<section class="title">
    <div class="container">
        <div class="row">
            <div class="col-12" id="title__position">
                <div class="col-4 d-flex justify-content-start">
                    <div class="title__info">
                        <h2>500 +</h2>
                        <p>налаштованих камер</p>
                    </div>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <div class="title__info">
                        <h2>100 +</h2>
                        <p>створених сайтів</p>
                    </div>
                </div>
                <div class="col-4 d-flex justify-content-end">
                    <div class="title__info">
                        <h2>200 +</h2>
                        <p>задоволених клієнтів</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>