.services{
    background-color: #FAFAFB;
    padding: 0px 0px 10px 0px;

    &__title {
        font-family: Rubik;
        font-size: 24px;
        font-weight: 400;
    }

    &__line {
        background-color: #F5CA61;
        height: 4px;
        width: 120px;
        margin-top: 15px;
    }
    .accordion {
        margin: 0px 0px 0px 20px;
      }
      
      .accordion-item {
        margin-bottom: 10px;
      }
      
      .accordion-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #72CCE6;
        padding: 10px 15px 15px 25px;
        cursor: pointer;
        transition: background-color 0.3s;
        font-family: Roboto;
        font-size: 20px;
      }
      
      .accordion-header:hover {
        background-color: #039CC8;
      }
      
      .accordion-header h2 {
        margin: 0;
        color: #FFFFFF;
      }
      
      .accordion-icon {
        transition: transform 0.3s;
        height: 12px;
        width: 12px;
        margin-top: -10px;
      }
      
      .accordion-content {
        display: none;
        padding: 15px 25px;
        background-color: #fff;
        overflow: hidden;
        max-height: 0;
        transition:  0.8s ease-in;
        ul{
            list-style-type: disc;
            li{
                padding: 10px 0px;
            }
        }
      }
      
      .accordion-content.active {
        display: block;
        max-height: 1000px;
        transition:  0.8s ease-in-out;
        ul{
            list-style-type: disc !important;
        }
      }
}