<section class="previous-works-hero">
    <div class="previous-works-hero__background">
        <img src="img/previous-works/hero/hero.png" alt="hero-image">
        <div class="previous-works-hero_info">
            <h4>Наші</h4>
            <h2>ПРОЕКТИ</h2>
            <div class="previous-works-hero_info-line"></div>
            <p>Lorem Ipsum is simply dummy text of the printing. Lorem psum is simply</p>
        </div>
        <div class="previous-works-hero__last">
            <img id="previous-works-hero__last_img" src="img/previous-works/hero/hero-last.png" alt="hero-last">
        </div>
    </div>
</section>