<section class="previous-projects">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="previous-projects__title">
                    <span>
                        <h2>ОЗНАЙОМТЕСЯ З ПОПЕРЕДНІМИ РОБОТАМИ, ЩОБ ВПЕВНИТИСЯ В ЯКОСТІ</h2>
                        <div class="previous-projects__title_line"></div>
                    </span>
                </div>
                <div class="previous-projects__container">
                    <a href="#" class="previous-projects__container_card">
                        <div class="card-content">
                            <img src="img/previous-works/previous-projects/img-1.png" alt="">
                            <p class="card-text">Будинки і котеджі</p>

                            <span id="card-content__last">
                                <p>Будинки і котеджі</p>
                                <h5>Перейти</h5>
                                <div id="card-content__last_line"></div>
                            </span>
                        </div>
                    </a>
                    <div class="previous-projects__container_card"><a href="#"
                            class="previous-projects__container_card">
                            <div class="card-content">
                                <img src="img/previous-works/previous-projects/img-2.png" alt="">
                                <p class="card-text">Будинки і котеджі</p>

                                <span id="card-content__last">
                                    <p>Будинки і котеджі</p>
                                    <h5>Перейти</h5>
                                    <div id="card-content__last_line"></div>
                                </span>
                            </div>
                        </a></div>
                    <div class="previous-projects__container_card"><a href="#"
                            class="previous-projects__container_card">
                            <div class="card-content">
                                <img src="img/previous-works/previous-projects/img-3.png" alt="">
                                <p class="card-text">Будинки і котеджі</p>

                                <span id="card-content__last">
                                    <p>Будинки і котеджі</p>
                                    <h5>Перейти</h5>
                                    <div id="card-content__last_line"></div>
                                </span>
                            </div>
                        </a></div>
                    <div class="previous-projects__container_card"><a href="#"
                            class="previous-projects__container_card">
                            <div class="card-content">
                                <img src="img/previous-works/previous-projects/img-4.png" alt="">
                                <p class="card-text">Будинки і котеджі</p>

                                <span id="card-content__last">
                                    <p>Будинки і котеджі</p>
                                    <h5>Перейти</h5>
                                    <div id="card-content__last_line"></div>
                                </span>
                            </div>
                        </a></div>
                    <div class="previous-projects__container_card"><a href="#"
                            class="previous-projects__container_card">
                            <div class="card-content">
                                <img src="img/previous-works/previous-projects/img-1.png" alt="">
                                <p class="card-text">Будинки і котеджі</p>

                                <span id="card-content__last">
                                    <p>Будинки і котеджі</p>
                                    <h5>Перейти</h5>
                                    <div id="card-content__last_line"></div>
                                </span>
                            </div>
                        </a></div>
                    <div class="previous-projects__container_card"><a href="#"
                            class="previous-projects__container_card">
                            <div class="card-content">
                                <img src="img/previous-works/previous-projects/img-2.png" alt="">
                                <p class="card-text">Будинки і котеджі</p>

                                <span id="card-content__last">
                                    <p>Будинки і котеджі</p>
                                    <h5>Перейти</h5>
                                    <div id="card-content__last_line"></div>
                                </span>
                            </div>
                        </a></div>
                    <div class="previous-projects__container_card"><a href="#"
                            class="previous-projects__container_card">
                            <div class="card-content">
                                <img src="img/previous-works/previous-projects/img-3.png" alt="">
                                <p class="card-text">Будинки і котеджі</p>

                                <span id="card-content__last">
                                    <p>Будинки і котеджі</p>
                                    <h5>Перейти</h5>
                                    <div id="card-content__last_line"></div>
                                </span>
                            </div>
                        </a></div>
                    <div class="previous-projects__container_card"><a href="#"
                            class="previous-projects__container_card">
                            <div class="card-content">
                                <img src="img/previous-works/previous-projects/img-4.png" alt="">
                                <p class="card-text">Будинки і котеджі</p>

                                <span id="card-content__last">
                                    <p>Будинки і котеджі</p>
                                    <h5>Перейти</h5>
                                    <div id="card-content__last_line"></div>
                                </span>
                            </div>
                        </a></div>
                    <div class="previous-projects__container_card"><a href="#"
                            class="previous-projects__container_card">
                            <div class="card-content">
                                <img src="img/previous-works/previous-projects/img-1.png" alt="">
                                <p class="card-text">Будинки і котеджі</p>

                                <span id="card-content__last">
                                    <p>Будинки і котеджі</p>
                                    <h5>Перейти</h5>
                                    <div id="card-content__last_line"></div>
                                </span>
                            </div>
                        </a></div>
                    <div class="previous-projects__container_card"><a href="#"
                            class="previous-projects__container_card">
                            <div class="card-content">
                                <img src="img/previous-works/previous-projects/img-2.png" alt="">
                                <p class="card-text">Будинки і котеджі</p>

                                <span id="card-content__last">
                                    <p>Будинки і котеджі</p>
                                    <h5>Перейти</h5>
                                    <div id="card-content__last_line"></div>
                                </span>
                            </div>
                        </a></div>
                    <div class="previous-projects__container_card"><a href="#"
                            class="previous-projects__container_card">
                            <div class="card-content">
                                <img src="img/previous-works/previous-projects/img-3.png" alt="">
                                <p class="card-text">Будинки і котеджі</p>

                                <span id="card-content__last">
                                    <p>Будинки і котеджі</p>
                                    <h5>Перейти</h5>
                                    <div id="card-content__last_line"></div>
                                </span>
                            </div>
                        </a></div>
                    <div class="previous-projects__container_card"><a href="#"
                            class="previous-projects__container_card">
                            <div class="card-content">
                                <img src="img/previous-works/previous-projects/img-4.png" alt="">
                                <p class="card-text">Будинки і котеджі</p>

                                <span id="card-content__last">
                                    <p>Будинки і котеджі</p>
                                    <h5>Перейти</h5>
                                    <div id="card-content__last_line"></div>
                                </span>
                            </div>
                        </a></div>
                </div>
            </div>
        </div>
    </div>
</section>